*{
    background color: lightcoral;
    font: Georgia;
    text-decoration-color: aquamarine;
}

h1{
    font-size: 4em;
    text-align: center;
}

img{
    align-self: center;
}

p{
    font-size: 1em;
    text-align: center;
}